{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deen's blog</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.fancybox.min.css' %}">
    <!--[if lt IE 9]>
<script>(function(a,b){a="abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output progress section summary template time video".split(" ");for(b=a.length-1;b>=0;b--)document.createElement(a[b])})()</script>
<![endif]-->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/fancybox/jquery.fancybox.min.js' %}"></script>
</head>
<body style="opacity:0;">
<header class="head">
    <h1 class="head-title u-fl"><a href="/" style="font-family: Monaco, monospace">This is Deen</a></h1>
    <nav class="head-nav u-fr">
        <ul class="head-nav__list">
            <li class="head-nav__item"><a class="head-nav__link" href="{% url 'post_list' %}">カタログ/（目录）</a></li>
            <li class="head-nav__item"><a class="head-nav__link" href="/about">about </a></li>
            <li class="head-nav__item"><a class="head-nav__link" href="/">home</a></li>
        </ul>
    </nav>
</header>


{% block content %}
{% endblock %}


<footer class="foot">
    <div class="foot-copy">
        &copy; Deen's Blog 2017-2018
    </div>
</footer>
<script src={% static 'js/scroller.js' %}></script>
<script src={% static 'js/main.js' %}></script>
</body>
</html>