{% extends 'blog/base.html' %}

{% block content %}
    <!--Posts-->

    <main class="main">
        {% for post in posts %}
            <article class="post">
                <header class="post__head archive">
                    <a href="{% url 'post_detail' post_id=post.pk %}">
                        <time class="post__time">
                            {{ post.published_date | date:'d M, Y' }}
                        </time>
                    </a>

                    <h1 class="post__title archive">
                        <a href="{% url 'post_detail' post_id=post.pk %}">
                            {{ post.title }}
                        </a>
                    </h1>
                </header>
            </article>
        {% empty %}
            <div class="post">
                <p>No posts to read</p>
            </div>
        {% endfor %}
    </main>


{% endblock %}